body {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
button {
    margin: 4px;
    cursor: pointer;
}
.gray-button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(24, 50, 60);
    padding: 25px;
    border: none;
    border-radius: 50%;
}
.yellow-button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(135, 125, 15);
    padding: 25px;
    border: none;
    border-radius: 50%;
}
.equal-button {
    font-size: 15px;
    font-weight: 600;
    color: black;
    background-color: white;
    padding: 25px;
    border: none;
    border-radius: 50%;
}
.js-input {
    font-size: 18px;
    font-weight: 600;
    color: rgb(227, 230, 234);
    background-color: rgb(78, 46, 82);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: calc(50% - 50px);
}
.js-calculation {
    font-size: 20px;
    font-weight: 600;
    color: rgb(227, 230, 234);
    margin: 10px 0;
}
button:hover {
    opacity: 0.9;
}
button:focus {
    outline: 2px solid white;
}
